@import "genral.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}

:root {
    --mainFont: "Poppins", sans-serif;
    --subFont: "Inter", sans-serif;
    --mainColor: #545be8;
}

.head, .auth, .logo, .nav ul {

    display: flex;
    flex-wrap: wrap;

}

.head {
    background-color: white;
    position: sticky;
    top: 0;
    z-index:3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10;

}

.logo img {
    width: 35px;
}

.logo a {
    color: var(--mainColor);
    font-family: var(--mainFont);

}

.logo {
    align-items: center;
}

.nav ul {
    list-style: none;
    gap: 16px;
}

.nav a {
    color: black;
    text-transform: capitalize;
    font-family: var(--mainFont);
}

.active {
    font-weight: 900;
}

.container {
    width: calc(100% - 120px);
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

.auth {
    gap: 10px;


}

.auth a {
    color: var(--mainColor);
    font-family: var(--subFont);
    border: #545be8 1px solid;
    padding: 10px 30px;
    border-radius: 10px;

}

.auth a:last-child {
    color: white;
    background-color: #545be8;
}


/*
Testimonials style

 */
.testimonials{
    margin: 500px 0;
}

.testimonials .user_info .user_image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial .img_hov img{
    width: 100%;
    border: #545be8 4px solid;
}

.testimonials h2{
    text-align: center;
    font-family: var(--mainFont);
    font-weight:bold ;
}
.testimonials .testimonial .container{
    width: 100%;
    padding:30px 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.testimonials .testimonial{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.testimonials .user_info{
    display: flex;
    gap:10px;
    align-items: center;
}
.testimonials .testimonial .user_info span{
    color:#969696;
}

.testimonials .description{
    font-size: 18px;
    font-family: var(--mainFont);
}
.testimonials .row{
    flex-wrap: nowrap;
    gap: 30px;
}

/*

Footer style



 */
.footer {
    background-color: #393E46;
}


.end, .start {
    padding: 50px 0;

}

.footer .start {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px

}
.footer .start .logo {
    display: flex;
    color: white;
    text-align: justify;
    gap:4px;
    font-family: var(--mainFont);
}

.footer .start .para {
    color: #f4f4f4;
}

.footer .start .socialMedia {
    display: flex;
    gap: 20px;

}

.footer .start .socialMedia img {
    box-sizing: content-box;
    border: white solid 1px;
    width: 20px;
    padding: 10px;
}

.footer .end {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.footer .end .items {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.footer .end .items a:nth-child(1) {
    padding-bottom: 20px;
}


.footer .end .items a {
    font-family: var(--mainFont);
    font-weight: 400;
    color: #f4f4f4;

}

.footer .end .items {
    display: flex;

    flex-direction: column;
}
@media (max-width: 900px) {
    .logo img {
        width: 25px;
    }
    .logo{
        font-size: 10px;
    }
    .nav {
        display: none;
    }
    .auth a {
        font-size: 10px;
        padding: 5px 15px;

    }
    .footer .start .socialMedia{
        gap:3px;
    }
    .footer .start .socialMedia img {
        width: 10px;
        padding: 5px;
    }
    .footer .end .items a:nth-child(1) {
        padding-bottom: 5px;
        font-size: 15px;
    }
    .footer .start{
        width: 40%;

    }
    .footer .end {
        justify-content: flex-end;
        gap:5px;
        width: 60%;
    }
    .footer .end .items {
        padding-bottom: 3px;
    }
    .footer{
        font-size: 10px;
    }
    .container{
        width: 90%;
    }
    .end,.start{
        padding:10px 0;
    }
    .footer h3{
        font-size: 12px;
    }



}
